*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-video{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navigation{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.603),rgba(0, 132, 255, 0.384));
    position: sticky;
    top: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    
}

.nav-link{
    /* display: flex; */
    color: black;
    margin: 10px;
    text-decoration: none;
}

.solo_leveling{
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 30px;
    padding: 9px;
    margin-right: auto;
}

.quest{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 200px;
}

.question{
    background:rgba(255,255,255,0.08);
    border:1px solid rgba(0,132,255,.4);
    box-shadow:0 0 25px rgba(0,132,255,.3);
    color: rgb(254, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width:500px;
    padding:20px;
    border-radius:20px;
    backdrop-filter:blur(12px);
}

.Input{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.button{
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgb(96, 184, 255);
    border:1px solid rgba(0,132,255,.4);
    border-radius: 5px;
}

#answer{
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;
    border-radius:20px;
    padding: 2px 6px 6px 6px;
    /* background: transparent; */
    background-color: rgb(96, 184, 255);
    color: rgb(253, 254, 255);
    font-size: 16px;
    line-height: 1.5;
    max-height: 200px;
    width: 400px;
}
.error_box{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
}
.error{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* border: 1px solid rgb(253, 253, 253); */
    background-color: rgba(119, 0, 255, 0.397);
    padding: 5px;
    border-radius: 5px;
    color: rgb(252, 251, 251);
    font-size: 14px;
    animation: fadeOut 4s forwards;
}

@keyframes fadeOut{
    0%, 40%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@media (max-width: 480px){
    .solo_leveling{
        font-size: 20px;
    }
    
    .quest{
        padding-top: 120px;
        margin: 5px;
    }

    #answer{
        flex: 1;
        border: none;
        border-radius: 10px;
        outline: none;
        resize: none;
        overflow-y: auto;
        /* background: transparent; */
        background-color: rgba(164, 214, 255, 0.897);
        color: rgb(12, 12, 12);
        font-size: 16px;
        line-height: 1.5;
        max-height: 100px;
        width: 200px;
}
    
    .question{
        width: 200%;
        max-width: 650px;
        font-size: 12px;
        font-weight: bold;
        /* align-items: baseline; */
    }

}