*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("../image/solo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.navigation{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.603),rgba(0, 132, 255, 0.384));
    position: sticky;
    top: 0;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.nav-link{
    /* display: flex; */
    color: black;
    margin: 10px;
    text-decoration: none;
}

.solo_leveling{
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 30px;
    padding: 9px;
    margin-right: auto;
}

.hintbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9%;
    padding-left: 20%;
}

.hint{
    background: linear-gradient(to right, rgba(0, 47, 255, 0.527),rgba(255, 255, 255, 0.356));
    box-shadow: 10px 10px 19px rgb(0, 0, 0);
    display: flex;
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    transition: all 1s ease;
}

.hint:hover{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 0%;
    padding-left: 10%;
}

.Input{
    background: linear-gradient(to left,rgba(0, 119, 255, 0.603),rgba(0, 0, 0, 0.425));
    box-shadow: 10px 10px 19px rgb(0, 0, 0);
    display: flex;
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(212, 234, 255);
    text-shadow: 10px 10px 19px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 4%;
}