*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navigation{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.603),rgba(0, 132, 255, 0.384));
    position: sticky;
    top: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
}

.nav-link{
    /* display: flex; */
    color: black;
    margin: 10px;
    text-decoration: none;
}

.solo_leveling{
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 30px;
    padding: 9px;
    margin-right: auto;
}


.b{
    display: flex;
    justify-content:center;
    align-items: center;
    flex: 1;
    min-width: 280px;
    padding: 20px;
}


.box{
    background: linear-gradient(to left,rgba(27, 27, 27, 0.699),rgba(0, 132, 255, 0.596));
    box-shadow: 10px 10px 19px rgb(0, 0, 0);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    padding:40px 30px;
    gap: 22%;
    width: 30%;
    transition: all 1s ease;
}


.start{
    background-color: rgba(40, 62, 255, 0.507);
    font-size: 90%;
    box-shadow: 10px 10px 19px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}


.start:hover{
    background: linear-gradient(to bottom,rgba(0, 0, 255, 0.719),rgba(13, 13, 46, 0.589));
    padding: 15px 20px;
}

.ditbox{
    display: flex;
    justify-content: left;
    align-items: center; 
    padding-top: 22px;
}

.detail{
    background: linear-gradient(to right,rgba(0, 132, 255, 0.014),rgba(0, 0, 0, 0.137));
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items:baseline;
    flex-direction: column;
    padding: 2px;
    width: 90%; /*this will set the width and affect when screen size get smaller */
    max-width: 400px; /*this is the maximum size of the width*/
    gap: 30px;
    transition: all 0.5s ease-in;
} 

.detail:hover{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.detail h2{
    background-color: aliceblue;
    color: black;
    transition: all 0.2s ease;
}

.detail h2:hover{
    background-color: black;
    color: aliceblue;
}

.detail p{
    color: aliceblue;
}

.web_dit{
    font-size: 15px;
    gap: 20px;
    border: 2px solid rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 4px;
    transition: all 1s ease;
}

.web_dit:hover{
    border: 2px solid rgba(255, 255, 255, 0.315);
    border-radius: 10px;
}


@media (max-width: 480px){

    .bg-video{
        object-position: 60% center;
    }

    .solo_leveling{
        font-size: 20px;
    }

    .ditbox{
        padding-top: 44px;
    }

    .detail{
        font-size: 16px;
        backdrop-filter: blur(10px);
    }

    .detail:hover{
        transition: all 0.2s ease;
        backdrop-filter: blur(0px);
    }

    .b{
        padding-top: 30px;
    }

    .web_dit{
        font-size: 10px;
    }
}


@media (max-width: 760px){
    .box{
        transition: all 0.5s ease;
        width: 100%;
    }
}