*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-video{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.navigation{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.603),rgba(0, 132, 255, 0.384));
    position: sticky;
    top: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link{
    /* display: flex; */
    color: black;
    margin: 10px;
    text-decoration: none;
}

.solo_leveling{
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 30px;
    padding: 9px;
    margin-right: auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.Input{
    background: linear-gradient(to left,rgba(0, 119, 255, 0.603),rgba(0, 0, 0, 0.425));
    box-shadow: 10px 10px 19px rgb(0, 0, 0);
    display: flex;
    font-size: 20px;
    /* font-weight: bold; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(212, 234, 255);
    text-shadow: 10px 10px 19px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    gap: 5px;
}

#detail{
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.5;
    max-height: 30px;
    width: 270px;
}

.button{
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgb(96, 184, 255);
    border:1px solid rgba(0,132,255,.4);
    border-radius: 5px;
}

.error_box{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
}
.error{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* border: 1px solid rgb(253, 253, 253); */
    background-color: rgba(119, 0, 255, 0.815);
    padding: 5px;
    border-radius: 5px;
    color: rgb(252, 251, 251);
    font-size: 14px;
    animation: fadeOut 4s forwards;
}

@keyframes fadeOut{
    0%, 40%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@media (max-width: 480px){
    .solo_leveling{
        font-size: 20px;
    }
    
}
