<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style9.css')}}">
    <title>Solo Leveling System</title>
</head>
<body>
    <video autoplay muted loop class="bg-video" preload="none">
        <source src="{{ url_for('static', filename='video/solo_1.mp4') }}" type="video/mp4">
    </video>

    <nav class="navigation">
        <a href = "{{ url_for('home') }}" class="solo_leveling">Solo Leveling</p>
        <a href=" " class="nav-link">About me</a>
    </nav>

    <div class="main_content">
        <div class="ditbox">
            <div class="detail">
                <h1>Solo Leveling System</h1>
                <h2>Arise, Hunters</h2>
                <p class="web_dit">The system has chosen you. Turn your goals into quests <br>
                earn XP points, and level up your real life.<br><br>
                About website a AI model is set as solo leveling<br>
                system you need to enter your goal and it will generate<br> 
                levels for it that you can complete.And it will also ask
                questions after compeleting every level.
                </p>
            </div>
        </div>
    </div>

    <div class="b">
        <div class="box">
            <a href="{{ url_for('sign_up') }}"class="start">Sign Up</a>
            <a href="{{ url_for('login') }}" class="start">Login</a>
        </div>
    </div>


</body>
</html>