<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
    <title>New Goal</title>
</head>
<body>
    <video autoplay muted loop class="bg-video" preload="none">
        <source src="{{ url_for('static', filename='video/solo_1.mp4') }}" type="video/mp4">
    </video>

    <nav class="navigation">
        <a href = "{{ url_for('home') }}" class="solo_leveling">Solo Leveling</p>
        <a href=" " class="nav-link">About me</a>
    </nav>
    
    <div class="hintbox">
        <div class="hint">
            <p>Enter your goal like I want to learn something.</p>
        </div>
    </div>

    <div class="box">
        <form class="Input" method="post">
            <label for="Enter_Goal">Enter a Goal :</label><br>
            <textarea name="goal" id="goal" placeholder="Enter your goal"></textarea>
        </form>
    </div>

</body>
</html>