<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style5.css')}}">
    <title>Tasks</title>
</head>
<body>
    <video autoplay muted loop class="bg-video" preload="none">
        <source src="{{ url_for('static', filename='video/solo leveling.mp4') }}" type="video/mp4">
    </video>

    <nav class="navigation">
        <a href = "{{ url_for('home') }}" class="solo_leveling">Solo Leveling</p>
        <a href=" " class="nav-link">About me</a>
    </nav>

    <div class="xpp">
        <div>
            <h2 class="xp">XP points: {{content}}</h2>
        </div>
    </div>
    
    <div class="container">
        <div class="card">

            <h2>{{ tasks["task_name"] }}</h2>
            <p>Difficulty: {{ tasks["difficulty"] }}</p>
            <p>Reward: {{ tasks["xp_reward"] }} XP</p>

            <form method="POST">
                <input
                    type="hidden"
                    name="task_name"
                    value="{{ tasks['task_name'] }}">
                <input
                    type="hidden"
                    name="xp_reward"
                    value="{{ tasks['xp_reward'] }}">
                <input
                    type="hidden"
                    name="difficulty"
                    value="{{ tasks['difficulty'] }}">
                <button name="action" value="yes" class="button">Complete</button>
                <button name="action" value="no" class="button">Later</button>
            </form>
        </div>
    </div>
</body>
</html>