<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style7.css')}}">
    <title>Qusetion</title>
</head>
<body>
    <video autoplay muted loop class="bg-video" preload="none">
        <source src="{{ url_for('static', filename='video/solo leveling.mp4') }}" type="video/mp4">
    </video>

    <nav class="navigation">
        <a href = "{{ url_for('home') }}" class="solo_leveling">Solo Leveling</p>
        <a href=" " class="nav-link">About me</a>
    </nav>
    
    <div class="quest">
        <div class="question">
            <p>{{ question }}</p>

            <form class="Input" method="POST">
                <input type="hidden" name="question" value="{{ question }}">
                <label for="answer"></label>
                <textarea id="answer" name="answer" placeholder="Enter Answer"></textarea>
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>